:host {
  .onboarding-stepper {
    height: 100%;
  }

  .step-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75vh;
  }

  .step-content-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto; // Enable scrolling
    max-height: 65vh; // Adjust height to prevent button overflow
  }

  .step-label {
    font-family: "Titillium Web", sans-serif;
    font-size: 1.3rem;
    .step-sub-label {
      font-family: "Ubuntu Mono", monospace;
      font-size: 1rem;
      color: var(--color-grey9);
    }
  }
}

.stepper-buttons {
  margin-top: 16px;
  display: flex;
  gap: var(--space-xxxxl);
  justify-content: space-evenly;
}

.step-content {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  min-height: 200px;
  justify-content: center;
  width: 100%;
}

.error-message {
  color: var(--color-red);
  font-size: 0.8rem;
  margin-top: -8px;
  text-align: center;
}

// --- Material Tree Styles ---
.team-tree {
  width: 65%;

  @media screen and (max-width: 600px) {
    width: 90%;
  }
  .tree-node {
    width: 100%;
    border-radius: 4px;
    transition: background-color 0.2s ease;

    &:not(.editing-node):hover {
      background-color: var(--color-greyc);
      cursor: pointer;

      .edit-icon {
        opacity: 1;
      }
    }
  }

  .leaf-node {
    padding-left: 40px; // Align leaf nodes
  }

  .node-display {
    display: flex;
    align-items: center;
    width: 100%;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1.3rem;

    .node-labels {
      display: flex;
      align-items: center;
      gap: 8px;
      width: 100%;
    }

    .job-title { font-weight: 600; }
    .name { color: var(--color-grey9); }
    .edit-icon {
      margin-left: auto;
      opacity: 0;
      transition: opacity 0.2s ease;
    }
  }

  .node-editor {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 8px;
    background-color: var(--color-greyd);

    mat-form-field { flex-grow: 1; }
  }

  .node-children {
    padding-left: var(--space-sm);
    .node-display {
      font-size: 1.2rem;
      color: var(--color-grey4);
    }
    .node-children .node-display {
      font-size: 0.8rem;
      line-height: 0.6rem;
      color: var(--color-grey5);
    }
    .mat-tree-node {
      min-height: 0;
    }
  }
}

// --- Radio Button Option Groups ---
.option-group {
  width: 100%;
  padding: 0 24px;
}

.option-list {
  display: flex;
  flex-direction: column;
}

.option-row {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 16px;

  .option-radio {
    flex-shrink: 0;
    min-width: 7em;
  }

  .option-controls {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.asset-chip {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  background-color: var(--color-greyd);
  border-radius: 24px;
  font-family: "Ubuntu Mono", monospace;
}

mat-form-field {
  width: 100%;
}

.uploader {
  min-width: 15em;
  margin: 0 var(--space-sm);
}