@use "../../assets/styles/flex";

.diagram-container {
  position: relative;
  @include flex.container(100%, space-between, center);

  .buttons {
    position: absolute;
    z-index: 10;
  }

  .top {top: var(--space-xxxs);}
  .right {right: var(--space-xxs);}
  .bottom {bottom: var(--space-xxxs);}
  .left {left: var(--space-xxs);}
}

.shortcut-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6); // Semi-transparent overlay
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.shortcut-modal {
  background: white;
  padding: var(--space-lg);
  border-radius: var(--radius-lg);
  max-width: 500px;
  width: 90%;
  box-shadow: 0 0 6px 2px var(--color-grey7);
  text-align: center;
}

.shortcut-modal h2 {
  margin-bottom: var(--space-md);
}

.shortcut-modal ul {
  list-style: none;
  padding: 0;
  text-align: left;
  font-family: "Ubuntu Mono", monospace;
}

.shortcut-modal ul li {
  margin-bottom: var(--space-sm);
  font-size: 1rem;
}

.shortcut-modal code {
  background: var(--color-greyd);
  padding: 2px 5px;
  border-radius: 4px;
  font-weight: bold;
}



