@use "../../assets/styles/flex";

.attachments {
  @include flex.container(100%, start, center);

  .source {
    padding: var(--space-sm) var(--space-md) 0 var(--space-md);
    border-radius: var(--space-xs);
    border: 1px solid var(--color-grey9);
    @include flex.container(100%, space-between, center);

    .option {
      font-family: "Titillium Web", sans-serif;
      font-size: 20px;
      margin-right: var(--space-lg);
    }

    .action {
      width: 100%;
      margin-top: var(--space-md);
    }
  }

  .attachment {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 0.8em;
    @include flex.container(50%, start, center);
    a {
      text-decoration: none;
      color: var(--color-primary-light);
    }
  }
}
