.card {
  opacity: 0.9;
  margin: var(--space-lg) 0;
  padding: var(--space-sm) 0 var(--space-lg) 0;

  mat-icon {
    scale: 1.8;
    margin-right: var(--space-md);
  }
  img {
    border-top: 1px solid var(--color-greyd);
    border-bottom: 1px solid var(--color-greyd);
  }
  p {
    opacity: 0.7;
    margin: var(--space-lg) 0 var(--space-sm) 0;
  }
}

.card:hover {
  opacity: 1;
  cursor: pointer;
  box-shadow: 0 0 var(--space-sm) 0 rgba(0, 0, 0, 0.2);
}
