# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map
build

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

# env vars
.env

# genkit logs, traces, etc
.genkit
