@use "sass:map"; // Import Sass module

@mixin width($size, $direction: row) {
  // Define all computed values at the top
  $max-size: if($size == fill, none, $size);

  & {
    flex-grow: if($size == fill, 1, 0);
    flex-shrink: if($size == fill, 1, 0);
    flex-basis: if($size == fill, auto, $size);
    max-width: if($direction == row, $max-size, none);
    max-height: if($direction == column, $max-size, none);
  }
}

@mixin container($size, $justify, $align, $direction: row, $flow: wrap) {
  & {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
    flex-wrap: $flow;
  }

  @include width($size, $direction);
}

@mixin breakpoint($break, $size, $direction: row) {
  $breakpoints: (
    lt-xs: "(max-width: 479.98px)",
    xs: "(min-width: 480px) and (max-width: 599.98px)",
    lt-sm: "(max-width: 600px)",
    sm: "(min-width: 600px) and (max-width: 959.98px)",
    gt-sm: "(min-width: 960px)",
    lt-md: "(max-width: 960px)",
    md: "(min-width: 960px) and (max-width: 1279.98px)",
    gt-md: "(min-width: 1280px)",
    lt-lg: "(max-width: 1280px)",
    lg: "(min-width: 1280px) and (max-width: 1919.98px)",
    gt-lg: "(min-width: 1920px)",
    xl: "(min-width: 1920px)"
  );

  @if map.has-key($breakpoints, $break) {
    @media #{map.get($breakpoints, $break)} {
      @include width($size, $direction);
    }
  } @else {
    @warn 'Not a valid breakpoint name.';
  }
}
