@use "../../assets/styles/layout" as layout;
// we are using layout so we can reference chip and prompt styles

.logo {
  height: 8em;
  width: 8em;
  border: 1px solid var(--color-greyd);
  border-radius: 5px;
  background-image: linear-gradient(140deg,
    #f2f2f2 10%, #f8f8f8 10%, #f8f8f8 20%, #f2f2f2 20%, #f2f2f2 30%, #f8f8f8 30%, #f2f2f2 40%, #f8f8f8 40%,
    #f2f2f2 50%, #f8f8f8 50%, #f8f8f8 60%, #f2f2f2 60%, #f2f2f2 70%, #f8f8f8 70%, #f2f2f2 80%, #f8f8f8 80%,
    #f2f2f2 90%, #f8f8f8 90%, #f2f2f2 100%
  );
  background-size: cover;

  mat-icon {
    margin: auto;
    display: flex;
    scale: 4;
    opacity: 0.1;
    position: relative;
    top: 3em;
  }
}

