@use "../../assets/styles/flex";

.subtask {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 0.9em;
  margin: var(--space-md) var(--space-sm);
  text-decoration: none;
  color: var(--color-grey6);
  @include flex.container(20%, space-around, start);
  @include flex.breakpoint(md, 30%);
  @include flex.breakpoint(sm, 45%);
  @include flex.breakpoint(lt-sm, 90%);
  img {
    border-radius: var(--space-sm);
  }
}

.subtask:hover {
  background-color: var(--color-greye);
  cursor: pointer;
}

.add {
  margin: var(--space-lg) 0;
}
