@use "flex";

.mat-sidenav-container {
  @include flex.container(100%, space-between, flex-start);

  .mat-sidenav {
    width: 212px;
    overflow: hidden;
    margin-block-start: 4em;
    border-right: none;
    background-color: var(--color-greye);

    @media screen and (max-width: 600px) {
      margin-block-start: 4.5em;
    }

    .mat-list-item {
      gap: var(--space-sm); // Modern spacing
      font-family: 'Titillium Web', sans-serif;
      font-size: 0.9em;
      text-align: start;
      width: 100%;
      height: 3.5rem;
      text-decoration: none;
      font-weight: 400;
      color: var(--color-grey4);
      background-color: var(--color-greye);
      @include flex.container(100%, flex-start, center);

      mat-icon {
        vertical-align: middle;
        scale: 1.25;
      }
    }

    .mat-list-item:hover {
      color: var(--color-grey2);
    }

    .disabled {
      color: var(--color-grey9);
      opacity: 1;
    }

    .active {
      font-weight: 700;
      letter-spacing: var(--space-xxxxs);
      text-transform: uppercase;
      color: var(--color-grey2);
      background-color: whitesmoke;
      opacity: 1;
    }

    .logout {
      position: relative;
      bottom: 0;
    }
  }

  .mat-sidenav-content {
    min-height: 100vh;
    width: 100%;
    background-color: whitesmoke;

    .contents {
      padding: 4em 3.5em;
      @include flex.width(100%);

      @media only screen and (max-width: 600px) {
        padding: 4em 0;
      }
    }

    .contents.workflow-page {
      padding: 3em 0;
    }
  }
}

.outlet {
  @include flex.container(100%, space-between, flex-start);
}

.toggle {
  z-index: 1000;
  background-color: var(--color-greye);
  position: fixed;
  inset-block-end: var(--space-xxs);
  inset-inline-start: var(--space-xxs); // Better for RTL support
  mat-icon {
    font-family: "Material Symbols Outlined", serif !important;
  }
}
