@use "../../assets/styles/flex" as flex;

.dynamic-form {
  gap: var(--space-lg);
  padding: var(--space-md) 0;
  margin-bottom: var(--space-lg);
  @include flex.container(100%, flex-start, flex-start, column);
}

.form-field-container {
  width: 100%;
}

.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-slide-toggle {
  display: flex;
  margin-bottom: var(--space-md);
}

.field-description {
  font-style: italic;
  color: var(--color-grey5);
  align-items: center;
}

.placeholder-field {
  border: 1px dashed var(--color-greyc);
  padding: var(--space-md);
  border-radius: var(--radius-md);
  background-color: var(--color-greye);
  color: var(--color-grey5);
  text-align: center;
  margin-top: var(--space-sm);
}
