@use '../../assets/styles/flex' as flex;

:host {
  display: block;
  padding: var(--space-md);
  background-color: var(--color-white);
  border-left: 1px solid var(--color-greyc);
  overflow-y: auto;
}

.no-node-selected {
  height: 100%;
  text-align: center;
  color: var(--color-grey5);
  @include flex.container(100%, center, center, column);

  mat-icon {
    font-size: 48px;
    width: 48px;
    height: 48px;
    margin-bottom: var(--space-md);
  }

  span {
    font-size: 0.9em;
  }
}
