.content {
  overflow: hidden;
}

img {
  width: 11em;
  height: 11em;
}

.close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.instructions {
  color: var(--color-grey4);
  line-height: 1.2em;
  margin-bottom: var(--space-lg);
}

.code-input-wrapper {
  display: flex;
  justify-content: center;
  gap: 0.45rem;
  margin-bottom: var(--space-sm);
}

.code-box {
  width: 2.5rem;
  height: 3rem;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid var(--color-greya);
  border-radius: 0.25rem;
  outline: none;
  transition: border-color 0.2s ease;

  &:focus {
    border: 2px solid var(--color-primary);
  }

  &:disabled {
    background-color: var(--color-grey2);
  }

  &:invalid {
    border: 2px solid var(--color-error);
  }
}

.error-text {
  color: var(--color-error);
  text-align: center;
}

