:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-dialog-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 !important;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
}

lib-discussions.onboarding-discussions-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

lib-discussions.onboarding-discussions-layout .chat-container {
  flex-grow: 1;
}

lib-discussions.onboarding-discussions-layout .summary {
  margin-left: 1rem; /* Add some space between chat and summary */
}
