@use "../../assets/styles/flex";

.marketplace {
  margin: auto;
  @include flex.container(100%, space-between, flex-start);
  @include flex.breakpoint(lt-sm, 90%);

  mat-card {
    margin: var(--space-md) 0;
    padding-top: var(--space-xxs);
    mat-card-header {
      width: 100%;
      .logo {
        background-image: url("/assets/images/team/gotta-go-ooooh-surfing.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: 1px solid var(--color-grey9);
        width: 4em;
        min-height: 4em;
      }
      mat-card-title {margin: var(--space-xxs) 0;}
      mat-card-subtitle {
        display: flex;
        mat-icon {
          margin-left: var(--space-xs);
        }
      }
    }
    mat-card-content {
      min-height: 8em;
      opacity: 0.9;
      align-content: center;
      .tags {
        width: 100%;
        button {
          scale: 0.9;
          opacity: 0.7;
          mat-icon {margin-right: var(--space-xxxs)}
        }

        button:hover {
          opacity: 1;
        }
      }
      mat-divider, button {margin: var(--space-xs) 0;}
    }
    mat-card-actions {
      width: 100%;
      justify-content: flex-end;
      button {
        position: relative;
        margin: 0 var(--space-xs);
      }
    }
    .installs {
      width: 100%;
      padding: var(--space-sm);
      min-height: 2em;
      background-color: var(--color-accent-lightest);
      color: var(--color-accent);
    }
  }
}


