@use "../../assets/styles/flex";

.marketplace {
  margin: auto;
  row-gap: var(--space-md);
  column-gap: 5%;
  @include flex.container(100%, flex-start, flex-start);
  @include flex.breakpoint(lt-sm, 90%);

  mat-card {
    margin: var(--space-md) 0;
    padding-top: var(--space-xxs);
    mat-card-header {
      width: 100%;
      .logo {
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: 1px solid var(--color-grey9);
        width: 3.6em;
        min-height: 3.6em;

        .type-icon {
          position: absolute;
          bottom: -0.2em;
          right: -0.1em;
          scale: 1.33;
        }
      }

      mat-card-title {
        margin: var(--space-xxs) 0;
        font-family: "Titillium Web", sans-serif;
        font-size: 25px;
        font-weight: 400;
      }
      mat-card-subtitle {
        display: flex;
        mat-icon {
          margin-left: var(--space-xs);
        }
      }
    }
    mat-card-content {
      width: 100%;
      text-align: left;
      min-height: 8em;
      opacity: 0.9;
      align-content: center;
      .tags {
        button {
          margin-right: var(--space-xxs);
          scale: 0.9;
          opacity: 0.7;
          mat-icon {margin-right: var(--space-xxxs)}
        }

        button:hover {
          opacity: 1;
        }
      }
      mat-divider {margin: var(--space-xs) 0;}
    }
    mat-card-actions {
      width: 100%;
      justify-content: flex-end;
      button {
        position: relative;
        margin: 0 var(--space-xs);
      }
    }
    .installs {
      width: 100%;
      padding: var(--space-sm);
      min-height: 2em;
      background-color: var(--color-accent-lightest);
      color: var(--color-accent);
    }
  }
}

.installed {
  padding-block: var(--space-xxs);
  padding-inline-end: var(--space-sm);
  padding-inline-start: var(--space-xxs);
  background-color: var(--color-primary-lighter);
  border-radius: var(--space-xxs);
}
