.flip-card {
  width: 100%;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
}

.flip-card-inner {
  position: relative;
  transform-style: preserve-3d;
}

.flip-card-inner > div {
  position: absolute;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  width: 100%;
  .dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 200;
    min-height: 13.5rem;
    border: 1px solid var(--color-greyd);
    border-radius: 5px;
    background-image: linear-gradient(140deg,
      #f2f2f2 10%, #f8f8f8 10%, #f8f8f8 20%, #f2f2f2 20%, #f2f2f2 30%, #f8f8f8 30%, #f2f2f2 40%, #f8f8f8 40%,
      #f2f2f2 50%, #f8f8f8 50%, #f8f8f8 60%, #f2f2f2 60%, #f2f2f2 70%, #f8f8f8 70%, #f2f2f2 80%, #f8f8f8 80%,
      #f2f2f2 90%, #f8f8f8 90%, #f2f2f2 100%
    );
    &.hovering {
      border: 1px solid var(--color-accent-light);
      color: var(--color-aquamarine) !important;
    }

    .media-name {
      color: var(--color-grey6);
      margin-bottom: var(--space-md);
      span {
        color: var(--color-grey7);
        letter-spacing: var(--space-xxxs);
        font-size: 1.3rem;
        font-weight: 500;
        margin-right: var(--space-xs);
      }
      .mat-icon {
        scale: 1.1;
        vertical-align: bottom;
      }
    }

    p {
      color: var(--color-accent);
      font-family: 'Ubuntu Mono', monospace;
      margin: 0.3rem;
    }

    span {
      font-size: large;
      font-family: 'Ubuntu Mono', monospace;
      color: var(--color-accent);
      padding-top: var(--space-xss);
      padding-bottom: var(xs);
    }

    button {
      margin: var(--space-xxxs);
    }
  }

  progress::-webkit-progress-value {
    transition: width 0.1s ease;
  }
}

.flip-card-back {
  transform: rotateY(180deg);
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;

  div {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;

    .default {
      display: flex;
      align-items: center;
      justify-content: center;
      span {margin-right: var(--space-md);}
    }
  }

  div:hover .delete,
  div:hover .edit {
    opacity: 1;
  }

  .delete, .edit {
    position: absolute;
    right: 0;
    z-index: 10 ;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  .delete {
    top: 0;
  }

  .edit {
    top: 3rem;
  }
}
