<h2 mat-dialog-title>Password Reset</h2>

<mat-dialog-content>
  <div class="full" [formGroup]="form">
    <mat-form-field appearance="fill" color="primary">
      <mat-label>New Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword" minlength="8" required>
      <mat-icon class="check" (click)="hide = !hide" matSuffix>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      <mat-error *ngIf="form.get('newPassword')?.hasError('minlength')">Min 8 characters</mat-error>
      <mat-error *ngIf="form.get('newPassword')?.hasError('required')">This Field Can't Be Empty!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" color="primary">
      <mat-label>Confirm</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPasswordConfirm" minlength="8" required>
      <mat-icon class="check" (click)="hide = !hide" matSuffix>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      <mat-error *ngIf="form.get('newPasswordConfirm')?.hasError('minLength')">Min 8 characters</mat-error>
      <mat-error *ngIf="form.get('newPasswordConfirm')?.hasError('required')">This Field Can't Be Empty!</mat-error>
      <mat-error *ngIf="form.hasError('passwordsNotMatch')">Passwords do not match</mat-error>
    </mat-form-field>

    <div class="full">
      <button mat-stroked-button (click)="close()">
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
      </button>
      <button mat-flat-button color="primary" (click)="update()" [disabled]="form.invalid">
        <mat-icon>done</mat-icon>
        <span>Confirm</span>
      </button>
    </div>
  </div>
</mat-dialog-content>
