name: Delete old workflow runs
on:
  schedule:
    - cron: '0 0 * * FRI'
permissions: write-all
# Run weekly, at 00:00 on Fridays.

jobs:
  del_runs:
    runs-on: ubuntu-latest
    steps:
      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          delete_run_by_conclusion_pattern: ${{ github.event.inputs.delete_run_by_conclusion_pattern }}
          retain_days: 5
          keep_minimum_runs: 2

